<div class="records-wrapper">
  <div class="countrySelect">
    <label for="selectCountry">Select Country</label>
  </div>
  <div class="dropDownMenu">
    <select id="selectCountry" >
  <option value="{{country.Country}}" selected *ngFor="let country of countryName;">{{country.Country}}</option>
</select>
  </div>
  <div class="alignDotsData">
    <div class="blueCircle"></div>
    <div>{{covidCount.TotalConfirmed}}</div>
  </div>
   <div class="alignDotsData">
    <div class="greenCircle"></div>
    <div>{{covidCount.TotalDeaths}}</div>
  </div>
   <div class="alignDotsData">
    <div class="redCircle"></div>
    <div>{{covidCount.TotalRecovered}}</div>
  </div>
</div>